*.iml
.gradle
/Trawell/local.properties
/Trawell/.idea/
Trawell/.idea/modules.xml
.DS_Store
/Trawell/build
/Trawell/captures
/Trawell.externalNativeBuild

/gtfs/.spyproject

*.sqlite
.idea
/Trawell/.idea


# fuer Lisa

/_windows
/*.xml
/inspection
Trawell/.idea/modules.xml